.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: transparent;
    text-align: center;
}
  
.home-title {
    font-size: 7.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 95%;
}
.home-title .part1 {
    color: #ffffff;
}
.home-title .part2 {
    color: #F8157F;
}
  
.home-description {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2rem;
    max-width: 600px;
}
  
.report-section {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    margin-top: 0.1rem;
}
.report-section .p2 {
    font-size: 1.7rem;
    font-weight: bold;
}
.report-section .p1 {
    font-size: 0.8rem;
    color: #F8157F;
    font-weight: bold;
}
  
.generate-button, .reset-button {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 3.5rem;
    border: 2.5px solid #F8157F;
    background-image: -webkit-linear-gradient(30deg, #F8157F 50%, transparent 50%);
    background-image: linear-gradient(30deg, #F8157F 50%, transparent 50%);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 0.2rem;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    margin: 2rem;
}
.generate-button:hover, .reset-button:hover {
    background-position: 100%;
    color: #F8157F;
    background-color: #38101F;
}
  
.generate-button {
    margin-bottom: 1rem;
}
  
.report-table {
    width: 100%;
    border-collapse: collapse;
    margin: 3px auto; 
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.report-table th, .report-table td {
    background-color: #38101F;
    padding: 8px 25px;
    text-align: center;
}
  
.report-table th {
    background-color: #F8157F;
    color: white;
    font-weight: bold;
}

.loading-spinner {
    border: 8px solid t;
    border-top: 8px solid #e91e63;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
